.mod_header,
.mod_head {
    background: #ffffff;
    border-bottom: 1px solid #e1e1e1;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04);
    padding: 8px 20px;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.mod_header .group {
    padding: 0 20px;
    clear: both;
}

.mod_header .row .form-group {
    margin: 0;
}

.mod_header .nav_sign {
    background-image: url(../images/nav_signAct.png);
    width: 15px;
    height: 15px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: text-top;
    margin-left: 8px;
    cursor: pointer;
}

.mod_header .row .form-group p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    height: 34px;
    line-height: 34px;
}

.mod_header .row .form-group h6 {
    margin: 0;
    font-weight: 400;
    text-align: left;
    padding-top: 0;
}

.mod_header .row .form-group .form-control {
    height: 30px;
}

.mod_header .row .form-group .chosen-container .chosen-single {
    height: 30px !important;
    line-height: 22px;
}

.mod_basic {
    position: relative;
    margin: 10px 10px 0;
    background: #fff;
    border: 1px solid #bbbbbb;
    height: 91%;
}

.mod_basic .content {
    position: relative;
    clear: both;
}

.label {
    font: 12px/1.5 tahoma, arial, "Microsoft Yahei", "\5b8b\4f53", sans-serif;
    font-weight: 700;
    color: #333;
}

.col-sm-8 form {
    margin: 0;
}

::-webkit-scrollbar {
    height: 10px;
}

.mod_basic .table {
    font-size: 12px;
    margin-bottom: 25px;
}

video::-webkit-media-controls-fullscreen-button {
    display: none;
}

.mod_basic .table > tbody > tr > td,
.mod_basic .table > thead > tr > th {
    line-height: 28px;
    padding: 5px 2px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
}

.table > thead > tr > th.sorting {
    cursor: pointer;
}

table > thead > tr > th.sorting:after {
    content: "\f0dc";
    margin-left: 5px;
    font-family: fontawesome;
    color: rgba(50, 50, 50, .5);
}

.mod_basic .table-bank > tbody > tr > td {
    word-wrap: break-word;
    white-space: normal;
    line-height: 15px;
}

.mod_basic .table > tbody > tr > td.btn-cel {
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;
}

.mod_basic .table.table-daily > tbody > tr > td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px;
}

.mod_basic .table tr th:last-of-type,
.mod_basic .table tr td:last-of-type {
    border-right: none;
}

.table-order thead tr th,
.table-order tbody tr td,
.mod_basic .table tr td.col-td {
    text-align: center;
}

.mod_basic .table-data thead tr th,
.mod_basic .table-data tbody tr td {
    width: 80px;
    padding: 0;
}

.mod_basic .table-data thead tr th,
.mod_basic .table-data thead tr th .outer {
    line-height: 40px;
    padding: 0;
}

.mod_basic .table-data tbody tr td .outer {
    line-height: 50px;
    border-bottom: 1px solid #bbbbbb;
}

.mod_basic .table-data tbody tr td .outer:last-of-type {
    border-bottom: none;
}

.mod_basic .table-data thead tr th .outer > div,
.mod_basic .table-data tbody tr td .outer > div {
    border-right: 1px solid #bbbbbb;
    display: inline-block;
    width: 65px;
}

.mod_basic .table-data thead tr th .outer > div:last-of-type,
.mod_basic .table-data tbody tr td .outer > div:last-of-type {
    border-right: none;
}

.mod_basic .none-data {
    text-align: center;
    margin-top: 15px;
}

/*--------闂佸憡甯楃换鍌烆敇閹间礁纭�闁哄洨鍋熺粔鍧楁煕韫囥儲瀚�---------*/
.mod_basic .infor-item {
    border: 1px solid #eee;
    margin-top: 20px;
}

.mod_basic .infor-item h5 {
    width: 90px;
    background: #fff;
    height: 30px;
    line-height: 30px;
    margin-top: -15px;
    margin-left: 28px;
    text-align: center;
    font-weight: 600;
}

.mod_basic .infor-item .btn-box {
    padding: 0 20px 20px;
}

.mod_basic .infor-item .table-responsive .table {
    border-top: 1px solid #eee;
}

.mod_basic .infor-item .table-responsive .table thead {
    background: #aaa;
}

.mod_basic .infor-item .table-responsive .table1 {
    max-height: 495px;
}

.mod_basic .infor-item .box {

}

.mod_basic .infor-item .box-item {
    padding: 0 20px;

    line-height: 30px;
}

.mod_basic .infor-item .box-item h6 {
    line-height: 25px;
    text-align: center;
    font-weight: 600;
    margin: 0;
}

.mod_basic .infor-item .box-item ul {
    list-style: none;
    padding: 10px;
    width: 100%;
}

.mod_basic .infor-item .box-item ul li {
    display: inline-block;
    width: 12%;
    text-align: center;
    line-height: 20px;
    margin-top: 5px;
}

.mod_basic .infor-item .box-item .col-xs-4,
.mod_basic .infor-item .box-item .col-xs-12 {
    padding-right: 2px;
    padding-left: 2px;
}

.mod_basic .infor-item .box-item p {
    margin: 0;
    padding-left: 0;
}

.mod_basic .infor-item .box-item .item-text {
    display: inline-block;
    text-align: right;
}

.mod_basic .infor-item .box-item .item-text label {
    margin-right: 5px;
}

.mod_basic .infor-item .box-item input,
.mod_basic .infor-item .box-item select,
.mod_basic .infor-item .box-item textarea {
    width: 90%;
    resize: none;
    line-height: 30px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding-left: 10px;
}

.mod_basic .infor-item .box-item input,
.mod_basic .infor-item .box-item select {
    height: 30px;
    width: 50%;
}

/*------闂佸憡甯掑Λ婵嬪Υ閿燂拷--------*/

.pagination {
    width: 100%;
    line-height: 20px;
    font-size: 80%;
    padding-right: 45px;
    padding-left: 3px;
    padding-bottom: 0;
    margin: 12px;
    padding-top: 12px;
    text-align: right;
    position: fixed;
    bottom: 0;
}

.pagination.active {
    padding: 5px 28px 0;
    margin: 0;
    background: #1584c7;
    right: 0;
}

.pagination a {
    border: 1px solid #ddd;
    color: #666;
}

.pagination a, .pagination span {
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px 8px;
    margin-right: 5px;
    border-radius: 4px;
}

.pagination.active a, .pagination.active span {
    color: #000;
    border: 1px solid #000;
}

.pagination.active span:last-of-type {
    border: none;
    padding: 0;
    margin-left: 5px;
}

.pagination .current {
    background: #2496d9;
    color: #fff;
    border: 1px solid #2496d9;
}

.pagination.active .current {
    background: #fff;
    color: #000;
    border: 1px solid #fff;
}

.pagination .current.prev, .pagination .current.next {
    color: #ddd;
    border-color: #ddd;
    background: #fff;
}

.pagination.active .current.prev, .pagination.active .current.next {
    color: #000;
    border-color: #ddd;
    background: #ddd;
}

.pagination input {
    text-align: center;
}

.pagination select {
    height: 26px;
    line-height: 26px;
}

.pagination #search {
    margin-bottom: 0;
}

/*------------濠碘槅鍋撻幏宄拔旈悩鑼劯闁轰礁锕﹂幏鐘活敍濞嗗海绠氶梺璇″弾閸ㄨ精銇愭担铏圭焼闁跨噦鎷�------------*/
p#vtip {
    position: absolute;
    padding: 10px;
    left: 5px;
    font-size: 12px;
    background-color: white;
    border: 1px solid #a6c9e2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    z-index: 9999999;
}

p#vtip #vtipArrow {
    position: absolute;
    top: -10px;
    left: 5px;
    width: 21px;
    height: 11px;
    z-index: 9999999;
}

.input_validation-failed {
    border: 1px solid #FF0000 !important;
    color: red !important;
    border-radius: 4px
}

p#vtip a {
    color: #000;
}

.text-danger {
    color: #ed5565;
}

.icheckbox_square-green,
.iradio_square-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(../images/icon_green.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-green {
    background-position: 0 0;
}

.icheckbox_square-green.hover {
    background-position: -24px 0;
}

.icheckbox_square-green.checked {
    background-position: -48px 0;
}

.icheckbox_square-green.disabled {
    background-position: -72px 0;
    cursor: default;
}

.icheckbox_square-green.checked.disabled {
    background-position: -96px 0;
}

.iradio_square-green {
    background-position: -120px 0;
}

.iradio_square-green.hover {
    background-position: -144px 0;
}

.iradio_square-green.checked {
    background-position: -168px 0;
}

.iradio_square-green.disabled {
    background-position: -192px 0;
    cursor: default;
}

.iradio_square-green.checked.disabled {
    background-position: -216px 0;
}

/*-----------闂佸搫顦崯鏉戭瀶濞差亜鏋侀柨鐕傛嫹----------*/
.form-row label {
    width: 80px;
    text-align: right;
    display: inline-block;
}

#rMenu {
    position: absolute;
    display: none;
    top: 0;
    background-color: #aaa;
    text-align: left;
    padding: 1px;
}

#rMenu ul {
    margin-bottom: 1px !important;
    padding-left: 0 !important;
}

#rMenu ul li {
    margin: 1px 0;
    padding: 0 5px;
    cursor: pointer;
    list-style: none outside none;
    background-color: #fff;
}

#rMenu ul li:hover {
    background-color: #4479d6;
    color: #fff;
}

.sys_alert {
    display: none;
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    background: rgba(45, 162, 235, 0.8);
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.sys_alert .col-xs-9 span {
    margin-left: 60px;
    text-decoration: underline;
}

.sys_alert .col-xs-9 span a {
    color: #fff;
}

.sys_alert .col-xs-3 {
    text-align: left;
}

.sys_alert .col-xs-3 img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.filelist .error {
    text-align: center;
    margin: 0;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    background: red;
    z-index: 9999;
}

.filelist .error-tip {
    text-align: center;
    margin: 0;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    background: #f0ad4e;
    z-index: 9999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grey-bg {
    background: #f3f3f3;
}

#pageSelect {
    width: 57px;
    padding: 2px 0;
    text-align: center;
    margin-left: 10px;
    color: #666;
    border-radius: 2px;
    border: 1px solid #ddd;
    cursor: pointer;
}

#jumpBtn {
    cursor: pointer;
    font-size: 12px;
    padding: 0px 4px;
    color: #666;
    height: 24px;
    border-radius: 2px;
    line-height: 24px;
}

.cover {
    position: absolute;
    height: 45px;
    width: 100%;
    display: none;
    background: #239fe8;
    bottom: 0;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    color: #fff;
    opacity: 0.9;
    transition: all 1s;
}

.cover .text {
    width: 32px;
    height: 28px;
    padding-left: 45px;
    background: url(../images/icon_zip.png) no-repeat;
}

.cover .icon {
    width: 100px;
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
    height: 10px;
    background: url(../images/icon_waiting.gif) no-repeat;
}

.cover:hover {
    opacity: 0.5;
}

.shelter {
    position: fixed;
    overflow: hidden;
    background-color: rgb(240, 240, 240);
    margin: 0 auto;
    left: 7px;
    right: 7px;
    border-bottom: 1px solid #c8c8c8;
}

.shelter table {
    background-color: #f0f0f0;
    margin-bottom: 0;
}

.shelter table th {
    text-align: center;
    padding: 5px 2px;
}

#box {
    position: absolute;
    display: none;
    background: #fff;
    text-align: center;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    height: 100%;
    cursor: move;
}

#box p {
    line-height: 34px;
}

.tip-box {
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 5px;
    display: none;
}

.mod_header .tip-box {
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.54);
    z-index: 999;
}

.tip-box:before {
    content: ' ';
    height: 0;
    width: 0;
    left: -24px;
    position: absolute;
    border: 12px solid transparent;
    border-right-color: #fff;
    top: 12px;
}


